{% extends 'website/base.html.twig' %}
{% form_theme form 'website/form/fields.twig' %}
{% block title %}{% trans %}Forgot password{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="forgot-password">
            <h1>{% trans %}Forgot password{% endtrans %}</h1>
            <p>
                {% trans %}Please provide us with your email address.{% endtrans %} <br />
                {% trans %}We will send an email to that email address with instructions on how to reset your password.{% endtrans %}
            </p>

            {{ form_start(form) }}

            <div class="form-field">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>

            <button type="submit" class="button-large">{% trans %}Reset password{% endtrans %}</button>
            <div class="clear">&nbsp;</div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}