.page-header {
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: table;
  margin-bottom: 50px;

  .text-position {
    display: table-cell;
    vertical-align: middle;

    h1 {
      font-size: 60px;
    }
    h1.breathe {
      color: @homepage-blue;
    }
    h1.drink {
      color: @homepage-light-blue;
    }
    h1.eat {
      color: @homepage-green;
    }
    h1.chill {
      color: @purple;
    }
    h1.move {
      color: @homepage-orange;
    }
    h1.help {
      color: @homepage-red;
    }
  }
}

.page-content {
  padding: 0 @navigation-margin 50px;

  h1.no-header {
    margin: 110px 0 25px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    list-style-position: outside;
    line-height: 1.7em;
    margin-left: 1.25em;
    padding-left: 0;
  }
}

div.text {
  margin: 30px 0;
}

.page-footer {
  text-align: center;
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cta-position {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
    max-height: 400px;
  }
}

.page-usps {
  margin-bottom: 50px;
}

.items {
  .item-block {
    border: 1px solid @purple;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 25px;

    .left {
      float: left;
      width: 20%;

      .item-image{
        width: 100%;
      }
    }

    .right {
      float: right;
      width: 76%;

      .item-text {
        ul {

          li {
            padding-top: 10px;
          }
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .expert-block {
    .item-block();
    border: none;
  }
}
