@media screen and (max-width: 1375px) {
  .nav-wrapper {
    .nav-top {
      .nav-top-email {
        margin-left: 25px;
      }
      .nav-top-menu {
        margin-right: 25px;
      }
    }
    .nav-bottom {
      .nav-bottom-logo {
        margin-left: 25px;
      }
      .bottom-menu {
        margin-right: 25px;
      }
    }
  }

  .usps {
    .usp-list {
      margin: 0 25px;

      .usp {

        .image {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  .homepage-pages {
    .pages {
      .content {
        .content-position {
          padding: 0 100px;
        }
      }
    }
  }

  .genblueprint {
    .form-field.one-third {
      width: 50%;
    }
  }

  .account-content {
    .purchases {
      width: auto;
      margin: 0;
    }
  }

  .page-content {
    .product {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .homepage-header-image {
    height: 250px;

    .text-position {

      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 18px;
      }
    }
  }

  .homepage-pages {
    .pages {
      .image {
        height: 350px;
      }
      .content {
        height: 350px;
        .content-position {
          padding: 0 40px;
          ul {
            line-height: 1.3;
            font-size: 15px;
          }
        }
      }
    }
  }

  .page-content,
  .account-content {
    padding: 0 100px 25px;
  }

  .contact {
    .contact-details {
      width: 100%;
      .details-position {
        width: 75%;
        text-align: center;
        margin: 0 auto;
      }
    }
    .sender-info,
    .message {
      width: 50%;
    }
  }

  .account {
    .account-block {
      img {
        height: 200px;
      }
    }
  }

  .shop {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .nav-wrapper {
    .nav-top {
      .nav-top-menu {
        display: none;
      }
    }
    .nav-bottom {
      .mobile-menu {
        display: block;
      }
      .bottom-menu {
        display: none;
      }
    }
  }

  .form-field {
    width: 100%;
  }

  .homepage-header-image {
    height: 200px;

    .text-position {

      h1 {
        font-size: 25px;
      }

      h2 {
        font-size: 12px;
      }
    }
  }

  .usps {
    .usp-list {
      .usp {
        width: 50%;
      }
      .usp-mid-split {
        display: block;
      }
    }
  }

  .homepage-pages {
    .image,
    .content {
      width: 100%;
    }
  }

  .footer-wrapper {
    font-size: 13px;
  }

  .contact {
    .sender-info {
      width: 100%;
    }
    .message {
      width: 100%;
    }
    .contact-field {
      width: 100%;
    }
  }

  .account {
    .account-block {
      img {
        height: 100px;
      }
    }
  }

  .back-button {
    float: none;
  }

  .top-bar a {
    margin: 10px 20px 0 0;
  }

  .magnesium,
  .vitamin,
  .complete-profile,
  .genblueprint {
    .form-field {
      input:not([type=checkbox]):not([type=radio]),
      textarea {
        width: 80%;
      }
    }
  }

  .genblueprint {
    .form-field.one-third {
      width: 100%;
      height: auto;
    }
  }

  .account-content {
    padding: 0 35px 25px;

    .purchases {
      .break {
        display: block;
      }
    }
  }

  .shop {
    .products {
      .product-wrapper {
        width: 50%;
      }
    }
    .by-two {
      display: block;
    }
    .by-three {
      display: none;
    }
  }

  .tool-block {
    .left {
      display: none;
    }

    .right {
      width: 100%;
    }
  }

  .page-content {
    .product {
      .left,
      .right {
        width: 100%;
      }

      .right {
        .cart {
          form {
            .product-field {
              button {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }

    .shoppingcart {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .homepage-header-image {
    .text-position {

      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 9px;
      }
    }
  }

  .usps {
    .why {
      h2 {
        font-size: 20px;
      }
    }
    .usp-list {
      .usp {
        width: 100%;
      }
    }
  }

  .homepage-pages {
    .pages {
      .image {
        height: 250px;
      }
      .content {
        .content-position {
          padding: 0 25px;
        }
      }
    }
  }

  .footer-wrapper {
    font-size: 11px;
  }

  .no-show-mobile {
    display: none;
  }

  .page-header {
    height: 250px;
    margin-bottom: 25px;
    .text-position {
      h1 {
        font-size: 25px;
      }
    }
  }
  .page-content{
    padding: 0 35px 25px;
  }
  .page-footer {
    height: 250px;

    .call-to-action {
      height: 200px;
    }
  }

  .account {
    .account-block {
      width: 50%;
    }
  }

  .shop {
    .products {
      .product-wrapper {
        width: 100%;
      }
    }
    .by-two {
      display: none;
    }
  }
}
