.magnesium,
.vitamin,
.complete-profile,
.genblueprint {

  .form-field {
    width: 100%;

    .question {
      font-weight: bold;
    }

    .radio-choice,
    .checkbox {
      padding: 5px 0;

      .radio-label,
      .checkbox-label {
        display: inline;
        padding: 0;
        margin-left: 10px;
      }
    }

    input:not([type=checkbox]):not([type=radio]),
    textarea {
      width: 50%;
    }

    textarea {
      padding: 5px 20px;
      height: 65px;
    }
  }

  .home-measuring {
    width: 100%;
    max-width: 1000px;
  }
}

.genblueprint {

  .one-third {
    width: 33%;
    float: left;
    height: 200px;
  }

  .one-third > div {
    padding-right: 25px;
  }

  .checkbox-label {
    line-height: 1.3em;
  }

}
