{% extends 'website/base.html.twig' %}

{% block title %}{% trans %}Account{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="account">
            <h1>{% trans %}Your account{% endtrans %}</h1>
            <a href="{{ getLocalizedRoute('account_edit') }}" class="button-small">{% trans %}Edit account{% endtrans %}</a><br><br>
            <a href="{{ getLocalizedRoute('account_complete_profile') }}" class="button-small">{% trans %}Complete profile{% endtrans %}</a><br><br>
            <a href="{{ getLocalizedRoute('account_shop') }}" class="button-small">{% trans %}Shop{% endtrans %}</a><br><br>
            <a href="{{ getLocalizedRoute('logout') }}" class="button-small">{% trans %}Logout{% endtrans %}</a>
        </div>
    </div>
{% endblock %}