{% extends 'website/base.html.twig' %}

{% block title %}{% trans %}Account{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="account">
            <h1>{% trans %}Your account{% endtrans %}</h1>
        </div>
    </div>
{% endblock %}