{% extends 'website/base.html.twig' %}

{% block title %}{% trans %}Registered{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <h1>{% trans %}Registered successfully{% endtrans %}</h1>
        <p>
            {% trans %}You can now login.{% endtrans %}
        </p>
    </div>
{% endblock %}
