<div class="usps page-usps">
    <div class="usp-list">
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/thumbs-up.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Results{% endtrans %}</h3>
                <p>
                    {% trans %}Unplugging guarantees results when instructions are followed{% endtrans %}
                </p>
            </div>
        </div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/camera.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Videos{% endtrans %}</h3>
                <p>
                    {% trans %}We work with videos you can download{% endtrans %}
                </p>
            </div>
        </div>
        <div class="clear usp-mid-split">&nbsp;</div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/school.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Personal coaching{% endtrans %}</h3>
                <p>
                    {% trans %}Support through e-mail, Whatsapp and face-to-face{% endtrans %}
                </p>
            </div>
        </div>
        <div class="usp">
            <div class="image">
                <img src="{{ asset('img/atom.png') }}">
            </div>
            <div class="text">
                <h3>{% trans %}Scientific{% endtrans %}</h3>
                <p>
                    {% trans %}We work with scientifically proven information{% endtrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
