<header>
    <div class="nav-wrapper">
        <div class="nav-top">
            <div class="nav-top-email">
                <a href="">info@unplugged.nl</a>
            </div>
            <div class="nav-top-menu">
                <ul class="top-menu">
                    <li class="nav-item"><a href="">{% trans %}Contact{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Register{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Login{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="nav-bottom-logo">
                <a href="{{ getLocalizedRoute('homepage') }}">
                    <img alt="Logo" src="{{ asset('img/svg/logo.svg') }}">
                </a>
            </div>
            <div class="nav-bottom-menu">
                <ul class="bottom-menu">
                    <li class="nav-item"><a href="">{% trans %}Lorem{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Ipsum{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Dolor{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Sit{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Amet{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}His{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>