{% extends "email/base/base.email.twig" %}

{% block body %}
    <h2>{% trans %}Reset your password{% endtrans %}</h2>
    <p>{% trans %}Click the link below to set a new password{% endtrans %}</p>
    <a href="{{ getLocalizedRoute('reset_password', {}, 0) }}?token={{ token }}" class="button button-large" target="_blank">{% trans %}Reset password{% endtrans %}</a>
{% endblock %}